Repository VoylinsGamedevJourney/gozen, pull requests merged in 2025-07, with the labels that each got.

#136 Added FFmpeg encoders, static build, improved build scripts
  .github/workflows/appimage.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_windows.yml
  .gitignore
  libs/SConstruct
  libs/build.py
  libs/build_on_windows.py
  libs/build_utils/build_deps.py
  libs/build_utils/build_ffmpeg.py
  libs/build_utils/download_deps.py
  libs/build_utils/paths.py
  libs/build_utils/utils.py
Labels: GDE GoZen, Core, Rendering

#157 Updated the "fr.FR.po" file.
  src/translations/fr_FR.po
Labels: Translations

#159 Modified 1 entry in fr_FR.po to better reflect the English value.
  src/translations/fr_FR.po
Labels: Translations

#160 Add Turkish support
  src/project.godot
  src/translations/localization.gd
  src/translations/tr_TR.po
Labels: Translations

#161 Add clip fading
  CHANGELOG.md
  libs/build_ffmpeg.py
  libs/gde_gozen/gozen_audio.cpp
  src/assets/icons/fade_button.svg
  src/assets/icons/fade_button.svg.import
  src/project.godot
  src/scenes/edit_screen/edit_screen.tscn
  src/scenes/file_panel/file_panel.gd
  src/scenes/timeline_bar/timestamp_box.gd
  src/scripts/classes/audio_player.gd
  src/scripts/classes/clip_data.gd
  src/scripts/classes/effects_audio.gd
  src/scripts/classes/effects_video.gd
  src/scripts/clip_button.gd
  src/scripts/effects_panel.gd
  src/scripts/globals/draw_manager.gd
  src/scripts/globals/draw_manager.gd.uid
  src/scripts/globals/editor_core.gd
  src/scripts/globals/project_manager.gd
  src/scripts/static/toolbox.gd
  src/scripts/timeline.gd
  src/scripts/view_panel.gd
  src/shaders/deinterlace_yuv420p_full.gdshader
  src/shaders/deinterlace_yuv420p_standard.gdshader
Labels: UI, Core, Rendering, Playback, Effects
